$background:    #fff;
$primary:       #00aeef;
$secundary:     #24242c;
$logo_size:       160; 
$line_size:       $logo_size / 10;

// Colors
/*
$blue:      #3490dc;
$indigo:    #6574cd;
$purple:    #9561e2;
$pink:      #f66D9b;
$red:       #e3342f;
$orange:    #f6993f;
$yellow:    #ffed4a;
$green:     #38c172;
$teal:      #4dc0b5;
$cyan:      #6cb2eb;
*/

// Corporate colors
/*
$primary-1:      #00aeef;
$primary-2:      #0094c8;
$primary-3:      #0076a0;
$primary-4:      #005978;
$gray-1:         #59666f;
$dark:           #24242c;
$light:          #f1f1f1;
*/


body
{
    margin: 0;
    padding: 0;
    background-color: $background;

    .reservame-hoy-logo
    {
        width: #{$logo_size}px;
        height: #{$logo_size}px;
        display: block;
        position: relative;
        border-radius: 50%;
        background-color: $primary;

        &::before
        {
            content: "";
            width: #{$logo_size * 0.8}px;
            height: #{$logo_size * 0.8}px;
            left: #{$line_size}px;
            top: #{$line_size}px;
            display: block;
            position: absolute;
            border-radius: 50%;
            background-color: $background;
        }

        .checkmark
        {
            content: "";
            display: block;
            position: absolute;


            width: #{$line_size * 2}px;
            height: #{$line_size * 4}px;

            left: #{(($logo_size / 2) - ($line_size * 2 / 2) - $line_size)}px;
            top: #{(($logo_size / 2) - ($line_size * 4 / 2) - $line_size)}px;

            /*
            top: 40px;
            left: 56px;
            */
        
            border: solid #000;
            border-width: 0 #{$line_size}px #{$line_size}px 0;
        
            transform: rotate(45deg);
        }
    }
}