/*
$blue:      #3490dc;
$indigo:    #6574cd;
$purple:    #9561e2;
$pink:      #f66D9b;
$red:       #e3342f;
$orange:    #f6993f;
$yellow:    #ffed4a;
$green:     #38c172;
$teal:      #4dc0b5;
$cyan:      #6cb2eb;
*/
/*
$primary-1:      #00aeef;
$primary-2:      #0094c8;
$primary-3:      #0076a0;
$primary-4:      #005978;
$gray-1:         #59666f;
$dark:           #24242c;
$light:          #f1f1f1;
*/
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body .reservame-hoy-logo {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: #00aeef;
}

body .reservame-hoy-logo::before {
  content: "";
  width: calc(40px*.8);
  height: calc(40px*.8);
  display: block;
  border-radius: 50%;
  background-color: #fff;
}
