// VARIABLES

$background_color:    #fff;
$primary_color:       #00aeef;
$secundary_color:     #24242c;
$default_color:       #59666f;
$logo_size:             36px;
$line_size:             $logo_size * 0.125;
$check_size:            $logo_size * 0.25;

// MIXINS

@mixin circle($size)
{
    content: "";
    width: $size;
    height: $size;
    border-radius: 50%;
    position: relative;
}

@mixin absoluteCenter($size)
{
    position: absolute;
    top: calc(50% - #{$size * 0.5});
    left: calc(50% - #{$size * 0.5});
}

@mixin circleFragment($size, $color, $rotation)
{
    @include circle($size);
    position: absolute;
    clip-path: polygon(50% 0, 100% 0, 100% 100% 50% 100%);
    transform: rotate($rotation);
    &::after
    {
        @include circle($size);
        position: absolute;
        background: linear-gradient(to right, transparent 50%, $color 50%);
        transform: rotate(120deg);
    }
}


body
{
    display: flex;
    min-height: 100vh;
    background-color: $background_color;

    .reservame-hoy-logo
    {
        display: flex;
        margin: auto;

        [class^="__circle_"]
        {
            @include circle($line_size);
            position: absolute;
        }

        .__border
        {

            @include circle($logo_size);
            display: inline-block;
            position: relative;
            background-color: darken($default_color, 5%);
            z-index: 0;
            //transform: rotate(60deg);
            //animation: rotating 2s linear infinite;

            &::before
            {
                @include circle($logo_size);
                position: absolute;
                background-color: $default_color;
                clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
                z-index: 1;
            }

            &::after
            {
                @include circle($logo_size * 0.75);
                @include absoluteCenter($logo_size * 0.75);
                background-color: $background_color;
                z-index: 2;
            }

            .__circle_dark
            {
                background-color: darken($default_color, 5%);
                top: 0;
                left: calc(50% - #{$line_size/2});
    
            }
    
            .__circle_light
            {
                background-color: $default_color;
                top: calc(100% - #{$line_size});
                left: calc(50% - #{$line_size/2});
            }
        }

        .__checkmark
        {
            position: absolute;
            width: #{$line_size * 2};
            height: #{$line_size * 6};
            top: calc(50% - #{$line_size * 11 / 2});
            left: calc(50% - #{$line_size * 3 / 2});
            transform: rotate(30deg);
            transform-origin: 100% 100%;
            /*animation: rotating 2s linear infinite;*/
            z-index: 3;

            &::before
            {
                content: "";
                width: #{$line_size * 2};
                height: #{$line_size};
                background-color: darken($primary_color, 5%);
                position: absolute;
                top: calc(100% - #{$line_size / 2});
                left: 0;
            }

            &::after
            {
                content: "";
                width: #{$line_size};
                height: #{$line_size * 6};
                background-color: $primary_color;
                position: absolute;
                top: 0;
                left: calc(100% - #{$line_size / 2});;
            }

            .__circle_1
            {
                background-color: darken($primary_color, 5%);
                top: calc(100% - #{$line_size / 2});
                left: -#{$line_size / 2};
            }

            .__circle_2
            {
                background-color: $primary_color;
                top: calc(100% - #{$line_size / 2});
                left: calc(100% - #{$line_size / 2});
            }

            .__circle_3
            {
                background-color: $primary_color;
                top: -#{$line_size / 2};
                left: calc(100% - #{$line_size / 2});
            }
        }

        .__text
        {
            margin-left: #{$line_size};
            line-height: $logo_size;
            color: darken($default_color, 10%);
            font-family: 'Roboto', sans-serif;
            font-size: #{$logo_size * 0.8};
            font-weight: 700;

            .__accent
            {
                font-weight: 900;
                color: $primary_color;
                line-height: $logo_size;
            }
        }

        
    }
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }