body {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
  /*
    [class^="__circle_"]
    {
        @include circle($line_size);
        position: absolute;
        background-color: darken($primary_color, 5%);
    }
    */
}

body .reservame-hoy-logo {
  display: flex;
  margin: auto;
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  background-color: #009bd6;
  /*
        &::after
        {
            @include circle($logo_size * 0.8);
            @include absoluteCenter($logo_size * 0.8);
            background-color: $background_color;
        }
        */
}

body .reservame-hoy-logo::after {
  content: "";
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  background-color: #fff;
}

body .reservame-hoy-logo .__border {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  position: absolute;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

body .reservame-hoy-logo .__border::before {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  position: absolute;
  background: linear-gradient(transparent 50%, #00aeef 50%);
  transform: rotate(-90deg);
}

body .reservame-hoy-logo .__border .__circle_light {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: calc(50% - 25px);
  background: red;
  position: absolute;
  display: block;
}

body .reservame-hoy-logo .__border .__circle_dark {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: calc(100% - 50px);
  left: calc(50% - 25px);
  background: #009bd6;
  position: absolute;
  display: block;
}
